# dependencias
node_modules/
.pnp/
.pnp.js

# compilado / build
.next/
dist/
out/
.vercel/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# env
.env
.env.local
.env.*.local

# editor/IDE
.vscode/
.idea/
.DS_Store
